asn1crypto==0.24.0
blinker==1.4
boto==2.49.0
boto3==1.9.107
botocore==1.12.107
bz2file==0.98
certifi==2018.11.29
cffi==1.12.2
chardet==3.0.4
cryptography==2.5
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.9
docutils==0.14
en-core-web-sm==2.0.0
gensim==3.4.0
idna==2.8
jmespath==0.9.3
kiwisolver==1.0.1
matplotlib==3.0.3
mkl-fft==1.0.10
mkl-random==1.0.2
msgpack==0.6.1
msgpack-numpy==0.4.3.2
murmurhash==1.0.0
nltk==3.2.5
numpy==1.16.2
oauthlib==3.0.1
pandas==0.24.1
patsy==0.5.1
plac==0.9.6
preshed==2.0.1
pycparser==2.19
PyJWT==1.7.1
pyOpenSSL==19.0.0
pyparsing==2.3.1
PySocks==1.6.8
python-crfsuite==0.9.6
python-dateutil==2.8.0
pytz==2018.9
regex==2018.1.10
requests==2.21.0
requests-oauthlib==1.2.0
s3transfer==0.2.0
scikit-learn==0.20.2
scipy==1.2.1
seaborn==0.9.0
six==1.12.0
smart-open==1.8.0
spacy==2.0.18
statsmodels==0.9.0
thinc==6.12.1
toolz==0.9.0
torch==0.4.1
torchtext==0.3.0
tornado==6.0.1
tqdm==4.31.1
twython==3.7.0
ujson==1.35
urllib3==1.24.1
wrapt==1.10.11
